.filters{:style => 'float:left; width: 510px'}
  .subtitle
    Filtrar contactos

  %p
    - form_for :filter, :html => {:method => :get} do |f|
      #search_box
        Nombre o email:
        %br/
        = f.text_field :query, :value => (params[:filter][:query] rescue nil)    

      %p
        #contact_filters{:style => 'float:left'}
          Tipo de contacto:
          %br/
          = f.collection_select :contact_type, Contact::SUBSCRIBER_TYPES, :idx, :name, {:include_blank => true, :selected => (params[:filter][:contact_type].to_i rescue nil)}
        #institution{:style => 'float:left; margin-left:20px; display:none'}
          Tipo de instituci칩n
          %br/
          = f.collection_select :contact_type_institution_type, InstitutionType.all, :id, :name, {:include_blank => true, :selected => (params[:filter][:contact_type_institution_type].to_i rescue nil)}
        #general{:style => 'float:left; margin-left:20px; display:none'}
          Intereses
          %br/
          = f.collection_select :contact_type_hobby, Hobby.find(:all, :conditions => ["name != 'otros'"]), :id, :name, {:include_blank => true, :selected => (params[:filter][:contact_type_hobby].to_i rescue nil)}

        %div{:style =>'clear:both'}
      %p
        #status
          Estado:
          %br/
          = f.select :active, [["A침adido a la lista", 'true'], ["No a침adido a la lista", 'false']], {:selected => (params[:filter][:active] rescue nil)}
      %p
        #status
          Estado de confirmaci칩n:
          %br/
          = f.select :confirmed, [["Confirmado", 'true'], ["Sin confirmar", 'false']], {:include_blank => true, :selected => ((params[:solo] == 'confirmados' ) || (params[:filter][:confirmed] rescue nil))}

      %br/
      = f.submit "Filtrar"
      %div{:style =>'clear:both'}
