- if contacts.present?
  %ul
    - for contact in contacts
      %li
        - if can? :manage, @subscriber_list
          .tools
            - if @subscriber_list.subscribers.find_by_contact_id_and_active(contact.id, true)
              = link_to_remote("Eliminar de la lista", :url => subscriber_list_contact_path(:subscriber_list_id => @subscriber_list, :id => contact, :page => params[:page], :filter => params[:filter]), :method => :delete, :confirm => '¿Estás seguro?')
            - else
              = link_to_remote("Añadir a la lista", :url => add_to_list_subscriber_list_contacts_path(:subscriber_list_id => @subscriber_list, :id => contact, :page => params[:page], :filter => params[:filter])) 

        .indentslim
          = contact.full_name << " - "
          %tt
            - if contact.user.present?
              - unless contact.from_form
                = t(:added_by, :time_ago => time_ago_in_words(contact.created_at), :user => (contact.user_id == current_user.id ? t(:me) : h(contact.user.full_name)))
              - else
                = t(:added_by, :time_ago => time_ago_in_words(contact.created_at), :user => "vía formulario")
            - else
              = t(:added_by, :time_ago => time_ago_in_words(contact.created_at), :user => "Usuario eliminado")
          %dt
            = contact.email
- else
  %p
    No existen contactos en esta lista de envío aún.
