.remote
  .section
    %table(width="500" cellpadding="0" cellspacing="0")
      %tr
        %td(valign="top")
          .label.top.req= "Nombre de la lista"
          = f.text_field :name, :style => "width:224px"

    - if !@subscriber_list.new_record?
      %table
        %tr
          %td
            Añadir usuarios generales
        %tr
          %td
            = link_to "Todos los usuarios generales", add_all_to_subscriber_list_path(@subscriber_list, :contact_type => 1), :class => 'btn'
          %td= spacer
          %td
            = link_to "Añadir usuarios manualmente", add_by_type_to_subscriber_list_contacts_path(@subscriber_list, :contact_type => 1), :class => 'btn'

      %table
        %tr
          %td{ :valign => :top }
            .label.top Sesgar por intereses:
            - form_for @subscriber_list, filter_by_hobbies_subscriber_list_path(@subscriber_list) do |f|
              - for hobbies in Hobby.find(:all, :conditions => ["name != 'otros'"]).in_groups_of(3, false)
                %div{:style => 'float:left; margin-right: 80px'}
                  - for hobby in hobbies
                    = check_box_tag "subscriber_list[hobby_ids][]", hobby.id, @subscriber_list.hobbies.include?(hobby)
                    = hobby.name 
                    %br/          
              %br/
              = submit_tag "Sesgar", :class => 'btn'

      %table
        %tr
          %td
            Añadir usuarios protocolo
        %tr
          %td
            = link_to "Todos los usuarios protocolo", add_all_to_subscriber_list_path(@subscriber_list, :contact_type => 2), :class => 'btn'
          %td= spacer
          %td
            = link_to "Añadir usuarios manualmente", add_by_type_to_subscriber_list_contacts_path(@subscriber_list, :contact_type => 2), :class => 'btn'

      %table
        %tr
          %td
            Añadir medios de comunicación 
        %tr
          %td
            = link_to "Todos los medios de comunicación", add_all_to_subscriber_list_path(@subscriber_list, :contact_type => 3), :class => 'btn'
          %td= spacer
          %td
            = link_to "Añadir usuarios manualmente", add_by_type_to_subscriber_list_contacts_path(@subscriber_list, :contact_type => 2), :class => 'btn'

      %table
        %tr
          %td
            Esta lista tiene
            %b
              = @subscriber_list.subscribers.count
            contacto/s
        %tr
          %td
            = link_to "Visualizar o editar lista completa", subscriber_list_path(@subscriber_list), :class => 'btn'
