.remote
  .section
    %table(width="500" cellpadding="0" cellspacing="0")
      %tr
        %td(valign="top")
          .label.top.req= "Nombre de la lista"
          = f.text_field :name, :style => "width:224px"
          = f.hidden_field :user_id, :value => @subscriber_list.user_id || current_user.id

    - if !@subscriber_list.new_record?
      %table
        %tr
          %td
            Añadir usuarios generales

      %table
        %tr
          %td{ :valign => :top }
            = f.check_box :all_general
            Todos los usuarios
            %br/
            - for hobbies in Hobby.find(:all, :conditions => ["name != 'otros'"]).in_groups_of(3, false)
              %div{:style => 'float:left; margin-right: 80px'}
                - for hobby in hobbies
                  = check_box_tag "subscriber_list[hobby_ids][]", hobby.id, @subscriber_list.hobbies.include?(hobby), :class => 'hobby_checkbox'
                  = hobby.name 
                  %br/          

      %table
        %tr
          %td
            Añadir Instituciones
      %table
        %tr
          %td{ :valign => :top }
            = f.check_box :all_institutions
            Todas las instituciones
            %br/
            - for institution_types in InstitutionType.all.in_groups_of(6, false)
              %div{:style => 'float:left; margin-right: 80px'}
                - for institution_type in institution_types
                  = check_box_tag "subscriber_list[institution_type_ids][]", institution_type.id, @subscriber_list.institution_types.include?(institution_type), :class => 'institution_type_checkbox'
                  = institution_type.name 
                  %br/          

      %table
        %tr
          %td
            Añadir medios de comunicación 
        %tr
          %td{ :valign => :top }
            = f.check_box :all_comunication
            Todos los contactos
      %table
        %tr
          %td
            Añadir Artistas - Profesionales
        %tr
          %td{ :valign => :top }
            = f.check_box :all_artists
            Todos los contactos
      %table
        %tr
          %td
            Importar desde Excel
        %tr
          %td
            Ver plantilla ejemplo documento EXCEL
            = image_tag('excel.png')

        %tr
          %td
            = file_field_tag :excel

      - if @subscriber_list.already_set?
        %table
          %tr
            %td
              Esta lista tiene
              %b
                = @subscriber_list.subscribers.count(:all, :conditions => {:active => true})
              contacto/s
        -#%tr
        -#  %td
        -#    = link_to "Visualizar o editar lista completa", subscriber_list_path(@subscriber_list), :class => 'btn'
