- shared_list = defined?(shared_list) ? shared_list : nil
- share = defined?(share) && share == true

%li
  .tools
    - unless share
      - unless shared_list
        = link_to("Editar", edit_subscriber_list_path(subscriber_list)) + " | "
        = link_to("Compartir", share_subscriber_list_path(subscriber_list)) + " | "
        = link_to("Eliminar", subscriber_list, :method => :delete, :confirm => '¿Estás seguro?') + " "
      - else
        = link_to("Dejar de compartir", unshare_subscriber_list_path(subscriber_list, :idx => shared_list.id))

  .indentslim
    = link_to(h(subscriber_list.name), [subscriber_list, Subscriber.new]) 
    - unless shared_list || share
      %tt
        = " &ndash; "
        = t(:added, :time_ago => time_ago_in_words(subscriber_list.created_at))
      %dt
        = link_to t('pluralize.subscriber', subscriber_list.subscribers.count), subscriber_list_subscribers_path(subscriber_list)
        - if subscriber_list.has_finder?
          Lista inteligente
          = "(#{subscriber_list.contacts.length})"
    - else
      - if share
        %tt
          = " &ndash; "
          = "Hasta el #{l(subscriber_list.expires_at.to_date, :format => :long)}"
        %dt
          = "del espacio <b>#{subscriber_list.shares_space.name}</b>"
          - if subscriber_list.has_finder?
            Lista inteligente
            = "(#{subscriber_list.contacts.length})"
      - else
        %tt
          = " &ndash; "
          = "Hasta el #{l(shared_list.expires_at, :format => :long)}"
        %dt
          = "al espacio <b>#{shared_list.space.name}</b>"
          - if subscriber_list.has_finder?
            Lista inteligente
            = "(#{subscriber_list.contacts.length})"
