.title_tools
  - if current_user.is_subscriber_lists_manager?
    = link_to("Crear lista", new_subscriber_list_path)
    |
    = link_to("Crear lista inteligente", new_subscriber_list_path(:auto_update => true))

.title
  %span= title "Listas de envío (#{@subscriber_lists.size}) - Espacio '#{current_space.name}'"

.list.search#subscriber_lists
  - unless @subscriber_lists.empty?
    = render :partial => "subscriber_list", :collection => @subscriber_lists
  - else
    = render :partial => "common/empty"

  %br/
  .title
    %span= "Listas de envío compartidas con '#{current_space.name}' (#{current_space.shared_subscriber_lists.size})"
  .list#contacts
    - if current_space.shared_subscriber_lists.present?
      = render :partial => "shared_lists/shared_list", :collection => current_space.shared_lists
    - else
      Ninguna.
