.title_tools#menu
  = link_to("Editar", edit_subscriber_list_path(@subscriber_list))
  = link_to("Eliminar", @subscriber_list, :method => :delete)

.title
  %span= @subscriber_list.name
  
= render :partial => "comments/new", :locals => { :commentable => @subscriber_list }
= render :partial => "comments/comment", :collection => @subscriber_list.comments

.list#subscriber
  .subtitle
    Contactos
  .filters
    #contact_filters{:style => 'float:left'}
      Filtrar por
      = collection_select :filter, :contact_type, Contact::SUBSCRIBER_TYPES, :idx, :name, :include_blank => "Tipo de contacto"
    #institution{:style => 'float:left;display:none'}
      = collection_select :filter, :contact_type_institution_type, InstitutionType.all, :id, :name, :include_blank => "Tipo de institución"
    #general{:style => 'float:left;display:none'}
      = collection_select :filter, :contact_type_hobby, Hobby.find(:all, :conditions => ["name != 'otros'"]), :id, :name, :include_blank => "Intereses"
    %div{:style =>'clear:both'}
  #contacts 
    = render :partial => 'contacts_list', :locals => {:contacts => @contacts}
