.title_tools#menu
  %span#subscribers_count= pluralize(@subscriber_list.contacts_count, 'contacto', 'contactos')
  - if can? :manage, @subscriber_list
    |
    = link_to("Volver", subscriber_lists_path)
    =# link_to("Eliminar", @subscriber_list, :method => :delete, :confirm => '¿Estás seguro que quieres eliminar la lista?')

.title
  %span
    = title "Lista '#{@subscriber_list.name}' - Espacio '#{@subscriber_list.space.name}' (#{@subscriber_list.contacts_count})"
    = "(Compartida, sólo lectura)" unless current_space.id == @subscriber_list.space_id

%div.actions
  %p
    Gestionar lista:
    = link_to 'Editar', edit_subscriber_list_path(resource)
    |
    = link_to 'Guardar como...', new_subscriber_list_path(:clone => @subscriber_list.id)
    |
    = link_to 'Borrar la lista (pero no sus contactos)', subscriber_list_path(@subscriber_list), :method => :delete, :confirm => "Vas a borrar esta lista. ¡¿Estás segurx?!"
  %p
    Gestionar contactos:
    = link_to 'Ver', subscriber_list_list_subscribers_path(resource)
    - if can? :manage, @subscriber_list
      |
      = link_to 'Borrar', subscriber_list_list_subscribers_path(resource, :borrar => 'si')
      |
      = link_to 'Borrar todos los contactos de esta lista', destroy_all_subscriber_list_list_subscribers_path(resource),
        :method => :delete, :confirm => "CUIDADO!!! ESTÁS A PUNTO DE BORRAR TODOS LOS CONTACTOS DE ESTA LISTA. ESTA ACCIÓN NO SE PUEDE DESHACER. ¿ESTÁS SEGURO?"
  %p
    Compartir lista:
    = link_to 'Compartir', new_shared_list_path(:list => @subscriber_list.id)
  %p
    Añadir contactos:
    = link_to 'De otra lista', new_subscriber_list_list_import_path(@subscriber_list, :source => 'list')
    |
    = link_to 'Buscando', new_subscriber_list_list_import_path(@subscriber_list, :source => 'search')
    |
    = link_to 'Usando un filtro', new_subscriber_list_list_import_path(@subscriber_list, :source => 'filter')
    |
    = link_to 'Desde un archivo de excel', new_subscriber_list_list_import_path(@subscriber_list, :source => 'excel')
  %p
    Exportar contactos:
    -#= link_to 'En PDF', subscriber_list_list_export_path(@subscriber_list, :format => 'pdf')
    -#|
    = link_to 'En Excel', subscriber_list_list_export_path(@subscriber_list, :format => 'xls')

%h2 Información general
%p.properties
  %label= "Tipo: #{@subscriber_list.auto_update? ? 'Lista inteligente' : 'Lista normal'}<br/>"
  %label= "Nombre: #{@subscriber_list.name}<br/>"
  %label= "Descripción: #{@subscriber_list.description}<br/>"
  %label= "Espacio: #{@subscriber_list.space.name} (#{@subscriber_list.space_id == current_space.id ? 'Lista propia' : 'Lista compartida'})<br/>"
  %label= "Número contactos: #{@subscriber_list.contacts_count}<br/>"
  %label= "Número de contactos confirmados: #{@subscriber_list.confirmed_contacts_count}"

%h2 Compartir
%ul.list
  - @subscriber_list.shared_lists.each do |shared|
    %li
      .indentslim
        = "Compartida con espacio '#{shared.space.name}'"
        = link_to "(Dejar de compartir)",  shared, :method => :delete,
          :confirm => "¿Quiere dejar de compartir la lista #{shared.subscriber_list.name} con #{shared.space.name}?"
  - if @subscriber_list.shared_lists.size == 0
    %li
      .indentslim= 'No está compartida con ningún espacio'


