- if current_space.id == @subscriber_list.space_id
  .title_tools#menu
    %span#subscribers_count= @subscriber_list.subscribers.count(:all, :conditions => {:active => true})
    contactos
    |
    = link_to("Volver", edit_subscriber_list_path(@subscriber_list))
    =# link_to("Eliminar", @subscriber_list, :method => :delete, :confirm => '¿Estás seguro que quieres eliminar la lista?')

.title
  %span
    = "#{@subscriber_list.name} - listado y edición de contactos"
    = "(Compartida, sólo lectura)" unless current_space.id == @subscriber_list.space_id
  
- if current_space.id == @subscriber_list.space_id
  = render :partial => "comments/new", :locals => { :commentable => @subscriber_list }
  = render :partial => "comments/comment", :collection => @subscriber_list.comments

.list#subscriber
  - if current_space.id == @subscriber_list.space_id
    = render :partial => 'contacts_filters'
    = render :partial => 'contacts_import'

  %div{:style =>'clear:both'}

  #contacts 
    = render :partial => 'contacts_list', :locals => {:contacts => @contacts}
  = will_paginate @contacts if @contacts.present?
