.title
  %span= "Modificar listas del contacto #{@contact.full_name}"

- form_for @contact do |f|
  = f.error_messages

  
  %table
    %tr
      %td{:valign => :top}
        .label.top Presencia en listas de envíos
        - @lists.each do |subscriber_list|
          = check_box_tag "contact[subscriber_list_ids][]", subscriber_list.id, @contact.subscriber_lists.include?(subscriber_list)
          = subscriber_list.info
          %br/

  .buttonbar
    = f.submit "Guardar cambios"
    = link_to "Cancelar", contact_path(@contact)