.title_tools
  = link_to("Crear institución", new_institution_type_path, :title => "Crear institución") 

.title
  %span= "Instituciones"

#paginate= render :partial => "common/paginate"
.list#contacts-list
  - unless @institution_types.empty?
    = render :partial => "institution_type", :collection => @institution_types
  - else
    = render :partial => "common/empty"

