%h1 Gestión de campañas (administrador)
%br/
%br/
%br/
%table
  %thead
    %tr
      %td Id
      %td Espacio
      %td Nombre
      %td Envios
      %td Asunto
      %td Remitente
      %td Nombre remitente
      %td Responder a
      %td Hace
  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.id
        %td= campaign.space.name
        %td= link_to campaign.name, admin_campaign_sendings_path(campaign)
        %td= "#{campaign.sendings.size} (#{campaign.sendings.map{|s| s.contacts_count}.join(',')})"
        %td= campaign.subject
        %td= campaign.from
        %td= campaign.from_name
        %td= campaign.reply_to
        %td= time_ago_in_words campaign.created_at

