%li
  .tools
    = link_to("Editar", edit_contact_path(contact), :title => "Editar #{contact.name}") + " | "
    = link_to("Eliminar", contact, :method => :delete, :confirm => '¿Estás seguro?') + " "

  .indentslim
    = link_to(h(contact.full_name), contact) << " - "
    %tt
      = t(:added_by, :time_ago => time_ago_in_words(contact.created_at), :user => (contact.user_id == current_user.id ? t(:me) : h(contact.user.full_name)))
    - if contact.company
      %dt
        = "De #{link_to(contact.company.try(:name), contact.company)}" if !@company
