%h2 Información del contacto
%p.properties
  - contact_type_name = Contact::SUBSCRIBER_TYPES.find{|e| e.idx == @contact.contact_type_id}.try(:name)
  %label= "Tipo de contacto: #{contact_type_name.present? ? contact_type_name : 'Por especificar'}"
  %label= "Entidad: #{@contact.entidad}" if @contact.entidad.present?
  %label= "Confirmado: #{@contact.confirmed? ? 'si' : 'no'}"
  %label= "Fecha de alta: #{l @contact.created_at}"
  = field("Correo", @contact, :email)
  = field("Nombre", @contact, :name)
  = field("Apellidos", @contact, :surname)
  = field("Profesión", @contact, :job)
  = field("Teléfono", @contact, :telephone)
  = field("Móvil", @contact, :celular)
  = field("Entidad", @contact, :entidad)
  = field("Dirección", @contact, :address)
  = field("Comentarios", @contact, :comments)
  %label= "Tipo de institución: #{@contact.institution_type.name}" if @contact.institution_type

%div.indentslim
  - if @contact.hobbies.size > 0
    %h3 Intereses
    - @contact.hobbies.each do |hobbie|
      = hobbie.name
      %br
