.title_tools
  = "#{pluralize(@count, 'contacto', 'contactos')} en el espacio #{current_space.name} - "
  - if can? :manage, Contact
    = link_to("Crear contacto", new_contact_path, :title => "Crear contacto") 
  - else
    Sólo lectura

.title
  %span= "Contactos"

.list#contacts-list
  - unless @contacts.empty?
    = render :partial => "contact", :collection => @contacts
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"

