- if can? :manage, @contact
  .title_tools#menu
    = link_to "Volver", contacts_path

.title
  %span= @contact.full_name


%div.actions
  %p
    Enviar correo a:
    = link_to(truncate(@contact.email, :length => 30), "mailto:" << @contact.email.to_s, :title => @contact.email) if @contact.email.present?
    - if @contact.secondary_email.present?
      = link_to(truncate(@contact.secondary_email, :length => 30), "mailto:" << @contact.secondary_email.to_s, :title => @contact.secondary_email)
  %p
    Gestionar contacto:
    = link_to("Editar", edit_contact_path(@contact))
    |
    = link_to("Eliminar", delete_contact_path(@contact))
    |
    = link_to('Confirmar', confirm_url(@contact), :confirm => "Vas a CONFIRMAR #{@contact.email} y recibirá un correo. ¿Deseas continuar?") if !@contact.confirmed?
    = link_to('Eliminar confirmación', unconfirm_url(@contact), :confirm => "Vas a ELIMINAR la confirmación de #{@contact.email} y recibirá un correo. ¿Deseas continuar?") if @contact.confirmed?
  %p
    Listas:
    = link_to "Modificar las listas en las que está incluido", edit_contact_contact_list_path(@contact)

%h2 Información del contacto
%p.properties
  %label= "Tipo de contacto: #{Contact::SUBSCRIBER_TYPES.find{|e| e.idx == @contact.contact_type_id}.try(:name)}<br/>"
  %label= "Entidad: #{@contact.entidad}<br/>" if @contact.entidad.present?
  %label= "Confirmado: #{@contact.confirmed? ? 'si' : 'no'}"
  %label= "Fecha de alta: #{l @contact.created_at}<br/>"
  = field("Correo", @contact, :email)
  = field("Nombre", @contact, :name)
  = field("Apellidos", @contact, :surname)
  = field("Profesión", @contact, :job)
  = field("Teléfono", @contact, :telephone)
  = field("Móvil", @contact, :celular)
  = field("Entidad", @contact, :entidad)
  = field("Dirección", @contact, :address)
  %br/
  %b Instituciones
  -# @contact.institutions.each do |institution|
    -#%label= institution.name

%h2 Listas en las que está incluído
%ul.list
  - @contact.subscriber_lists.each do |list|
    %li
      .indentslim
        = link_to list.name, subscriber_list_path(list)
        = " - Espacio #{list.space.name}"
        = " - #{pluralize(list.contacts_count, 'contacto', 'contactos')}"




