- if can? :manage, @contact
  .title_tools#menu
    = link_to("Editar", edit_contact_path(@contact))
    = link_to("Eliminar", @contact, :method => :delete)

.title
  %span= @contact.full_name

#summary
  %p
    %b= link_to(truncate(@contact.email, :length => 30), "mailto:" << @contact.email.to_s, :title => @contact.email) if @contact.email.present?
    %b= link_to(truncate(@contact.secondary_email, :length => 30), "mailto:" << @contact.secondary_email.to_s, :title => @contact.secondary_email) if @contact.secondary_email.present?
  %p
    = "Tipo de contacto: #{Contact::SUBSCRIBER_TYPES.find{|e| e.idx == @contact.contact_type_id}.try(:name)}<br/>" 
    = "Entidad: #{@contact.entidad}" if @contact.entidad.present?

  %p
    - if @contact.telephone.present? || @contact.celular.present?
      = "Teléfono/s: <b>#{@contact.telephone}</b> - <b>#{@contact.celular}</b><br />"
- if current_user.is_superadmin?
  %p
    = "Confirmado: #{@contact.confirmed? ? 'si' : 'no'}<br/>"
    = "Aceptar suscripción: http://#{APP.host}#{ConfirmationsController::ACCEPT_URL}/#{@contact.confirmation_code}"
    %br
    = "Cancelar suscripción: http://#{APP.host}#{ConfirmationsController::REJECT_URL}/#{@contact.confirmation_code}"

%p
  = link_to "Volver a todos los contactos", contacts_path
