.title_tools#menu
  = link_to("Editar", edit_company_path(@company))
  = link_to("eliminar", @company, :method => :delete)

.title
  %span= @company.name

= render :partial => "comments/new", :locals => { :commentable => @company }
= render :partial => "comments/comment", :collection => @company.comments.visible_for(current_user)

%br/
= link_to "Crear contacto", new_contact_path(:company_id => @company.id), { :class => "subtitle_tools" }
.subtitle Contactos
.list#contacts
  = render :partial => "contacts/contact", :collection => @company.contacts
