%li
  .tools
    = link_to("Editar", edit_polymorphic_path([@subscriber_list, subscriber])) + " | "
    = link_to("Eliminar", [@subscriber_list, subscriber], :method => :delete, :confirm => '¿Estás seguro?') + " "

  .indentslim
    = subscriber.full_name << " - "
    %tt
      = t(:added, :time_ago => time_ago_in_words(subscriber.created_at))
    %dt
      = subscriber.email
