.title_tools
  = link_to("Editar lista", edit_subscriber_list_path(@subscriber_list)) + " | "
  = link_to("Crear subscriptor", new_subscriber_list_subscriber_path(@subscriber_list), :title => "Crear susbcriptor")  + " | "
  = link_to "Añadir varios", add_multiple_subscriber_list_subscribers_path(@subscriber_list)

.title
  %span= "#{@subscriber_list.name}: Subscriptores"

.list#subscribers
  - unless @subscribers.empty?
    = render :partial => "subscriber", :collection => @subscribers
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"

- if @subscriber_list.has_finder? && (companies = @subscriber_list.companies).present?
  %br/
  .subtitle
    Empresas
  .list#companies
    = render :partial => "companies/company", :collection => companies, :locals => {:without_controls => true}
