%li
  .tools
    = link_to("Editar", edit_polymorphic_path(campaign)) + " | "
    = link_to("Eliminar", campaign, :method => :delete, :confirm => '¿Estás seguro?') 
    &nbsp;

  .indentslim
    = link_to("#{campaign.name} - ", campaign) 
    %tt
      = t(:added, :time_ago => time_ago_in_words(campaign.created_at))
    - campaign.sendings.each do |sending|
      %dt
        = link_to "Enviada hace #{time_ago_in_words sending.sent_at} a #{sending.campaign_recipients.sent.length} contactos."
