.title_tools
  = link_to("Crear campaña", new_campaign_path, :title => "Crear campaña")

.title
  %span= title "Campañas (#{@campaigns.size}) - Espacio '#{current_space.name}'"

#paginate= render :partial => "common/paginate"
.list.search#campaigns
  - unless @campaigns.empty?
    = render :partial => "campaign", :collection => @campaigns
  - else
    = render :partial => "common/empty"

