- title "Campaña: %s" % resource.name

.title_tools#menu
  = link_to("Volver", campaigns_path)

.title
  %span= @campaign.name

%div.actions
  %p
    Gestionar campaña:
    = link_to 'Editar', edit_resource_path(resource)
    |
    = link_to 'Borrar', campaign_path(@campaign), :method => :delete,
      :confirm => "¡Vas a borrar esta campaña. ¿Estás seguro?!"
  %p
    = "Enviado a #{pluralize(@campaign.sending_contacts.sent.count, 'contacto', 'contactos')}:"
    = link_to 'Realizar envío', new_campaign_sending_path(@campaign)
    |
    = link_to 'Ver qué envíos se han hecho', campaign_sendings_path(@campaign)
    |
    = link_to 'Ver a quién se ha enviado', campaign_sending_contacts_path(@campaign)

  - form_tag(test_campaign_sendings_path(@campaign), :class => 'actions') do
    Email:
    = text_field_tag :email
    = submit_tag 'Realizar envío de prueba'

%br/
%h2 Información general
%p.properties
  %label= "Nombre de la campaña: #{@campaign.name}<br/>"
  %label= "Título del email: #{@campaign.subject}<br/>"
  %label= "Email desde el que se envía: #{@campaign.from}<br/>"
  %label= "Nombre con el que se envía: #{@campaign.from_name}<br/>"
  %label= "Email al que se responde: #{@campaign.reply_to}<br/>"

%h2 Contenido
%br/
.indentslim
  - if @campaign.body.present?
    = h(@campaign.body)
  -if @campaign.assets.html
    Esta campaña tiene un html asociado:
    = link_to("pulsa aquí para verlo", @campaign.assets.html.data.url)

%h2= "Imágenes asociadas (#{@campaign.assets.images.size})"
%ul.list
  - @campaign.assets.images.each do |asset|
    %li
      .indentslim= link_to "#{asset.data_file_name}", asset.data.url

%h2= "Ficheros adjuntos (#{@campaign.email_attachments.size})"
%ul.list
  - @campaign.email_attachments.each do |attachment|
    %li
      .indentslim= link_to "#{attachment.data_file_name}", attachment.data.url


