.title
  %span= "#{@campaign.name}: Selección de template"

.remote
  - form_for @campaign, :url => template_campaign_path(@campaign), :html => {:multipart => true} do |f|
    .section(style='float:left')
      %table(width="500" cellpadding="0" cellspacing="0")
        %tr
          %td(valign="top")
            .label.top= "Texto"
            = f.text_area :body, :rows => 10, :cols => 80
      
        %tr
          %td(valign="top")
            .label.top= "HTML"
            - if @campaign.assets.html.present?
              Esta campaña tiene un html asociado:
              = link_to "Ver html actual", @campaign.assets.html.data.url
              %br/
              Puedes sustituir el html por otro:
              %br/
            = f.file_field :asset_html

        %tr
          %td{ :valign => :top }
            .label.top Imágenes
            - if @campaign.assets.images.present?
              = "Esta campaña tiene #{@campaign.assets.images.length} de imágenes asociadas."
              %br/
              Puedes sustituir éstas por otras subiendo un fichero zip.
              %br/
            = f.file_field :asset_images
            .info= "Fichero zip con las imágenes"

      .buttonbar
        = f.submit "Guardar"
        = f.submit "Guardar y testear envío"
     
    
  - form_for :email_attachment, :url => campaign_email_attachments_path(@campaign), :html => {:multipart => true} do |f|
    .section
      - field_set_tag "Ficheros Adjuntos", :style => 'margin-top:20px;' do
        .attachments
          %ul
            - @campaign.email_attachments.each do |at|
              %li
                = link_to at.data_file_name, at.data.url
                |
                = link_to "Eliminar", campaign_email_attachment_path(@campaign, at), :method => :delete, :confirm => '¿Seguro?'
        %p
          .label.top Subir adjuntos
          = f.file_field :data
        %div(style='clear:both')
          = f.submit "Subir adjunto"


    %div(style='clear:both')
