.title
  %span= "#{@campaign.name}: Envío"

%p
  Puedes realizar una prueba de envío al correo que indiques antes de hacer el envío definitivo
- form_tag test_campaign_path(@campaign) do
  .remote
    .section
      .label.top= "Emails"
      = text_field_tag :receivers, "", :size => 60
      = submit_tag "Probar", :name => "test"

  .buttonbar
    = submit_tag "Realizar envío definitivo", :name => "send"

