.title_tools
  - if @space
    = link_to("Crear usuario", new_admin_space_user_path(@space), :title => "Crear usuario") 
  - else
    = link_to("Crear usuario", new_admin_user_path, :title => "Crear usuario") 

.title
  %span= "#{@space.name}: Usuarios" 

.list#users
  = render :partial => "/admin/roles/user", :collection => @users
