.title_tools
  - if @space
    = link_to("Crear usuario", new_admin_space_user_path(@space), :title => "Crear usuario") 
  - else
    = link_to("Crear usuario", new_admin_user_path, :title => "Crear usuario") 


- unless @users.empty?
  - @users.each do |space_id, users|
    - space = Space.find_by_id(space_id)
    - if space
      .list#users
        .title
          %span= space.name
        = render :partial => "admin/roles/user", :collection => users
- else
  = render :partial => "common/empty"
