.standalone#standalone
  - form_for @user_session, :url => user_session_path do |f|
    = image_tag ("logo_icas.png")
    .title
      Sistema de gestión de contactos y difusión on-line ICAS

    .section
      .label= "Espacio:"
      = f.collection_select :space_id, Space.all, :id, :name, {:selected => @space.try(:id), :include_blank => true}
      .label= "Email:"
      = f.text_field :email
      .label= "Contraseña:"
      = f.password_field :password

    %div(style="margin-left:12px")
      #{f.check_box(:remember_me)} Recuérdame la contraseña cada vez que inicie
      %br/
      = link_to "¿Has olvidado tu contraseña?", new_password_reset_path
    %br
    = f.submit "Acceder", :class => "btn"

