#header
  #welcome
    - if @current_user
      Bienvenido
      %span#welcome_username= @current_user.name
      %span> &nbsp;&nbsp;
      |


      - if @current_user.is_admin?
        = link_to("Administrador", admin_path) << " |"

      = link_to("Cerrar sesi贸n", logout_path)
    - else
      = link_to("Iniciar sesi贸n", login_path) << " |"
      = link_to("Sobre", "#about", :rel => "facebox")
      
  #slogan
    %span Sistema de gesti贸n de contactos y difusi贸n online
    %span
      Espacio
      = " - #{current_space.name}" if current_space

  %h3
    - link_to(root_path) do
      %span
        Mailing
        = " ~ #{current_space.name}" if current_space

