#header
  #welcome
    - if @current_user
      Bienvenido,
      -# This span gets updated on the fly if user changes her name.
      %span#welcome_username= @current_user.name
      %span> !&nbsp;&nbsp;

      - if @current_user.is_admin?
        = link_to("Admin", admin_path) << " |"

      = link_to("Cerrar sesión", logout_path)
    - else
      = link_to("Iniciar sesión", login_path) << " |"
      = link_to("Sobre", "#about", :rel => "facebox")
      
  %h3
    = link_to("Maxwell", root_path)
    = " - #{current_space.name}" if current_space

