#header
  #welcome
    - if @current_user
      = "Bienvenido #{@current_user.full_name} | "
      %span#welcome_username
        = link_to('Editar perfil', edit_admin_space_user_path(@current_user.space, @current_user), :title => "Editar perfil")
      %span> &nbsp;&nbsp;
      |

      = link_to("Cerrar sesi贸n", logout_path)
    - else
      = link_to("Iniciar sesi贸n", login_path) << " |"
      = link_to("Sobre", "#about", :rel => "facebox")

  #slogan
    %span Sistema de gesti贸n de contactos y difusi贸n online
    %span
      Espacio
      = " - #{current_space.name}" if current_space

  %h3
    - link_to(root_path) do
      %span
        Mailing
        = " ~ #{current_space.name}" if current_space

