!!!
%html
  %head
    %title
      = "Mailing"
      = " - #{current_space.name}" if current_space
      = " - #{yield(:title)}" if yield(:title)
    = stylesheet_link_tag "screen", "common", 'jquery.wysiwyg.css', 'style'
    = javascript_include_tag :defaults, 'jquery.wysiwyg.js'
  %body{:id => controller.controller_name}
    = render :partial => 'layouts/header'

    - if logged_in?
      = render :partial => 'layouts/tabs'

    - [:error, :notice].each do |type|
      - if flash[type]
        %p#flash{:class => "flash_#{type}"}= flash[type]

    - if ["user_sessions", "password_resets"].include?(controller.controller_name)
      = yield
    - else
      %table{ :width => "100%", :height => "100%", :cellpadding => 0, :cellspacing => 0, :class => :tabbed }
        %tr
          - if @search_path
            %td{ :class => :sidebar, :id => :sidebar, :valign => :top }
              .filters#filters
                %h4 Buscador
                %div{ :style => "margin: 0px 0px 6px 0px" }
                  = text_field_tag("query", @current_query, :size => 23)
                  = observe_field("query", :frequency => 0.75, :function => "crm.search(value, '#{@search_path}')")

          %td{ :class => :main, :id => :main, :valign => :top }
            = yield

